{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">

        <h1>{{ post.title }}</h1>
        <h4>By: {{ post.author }}</h4>
        <p>{{ post.text|linebreaksbr }}</p>

        {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}

    </div>


{% else %}
  {% if post.author == request.user %}
    <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
{% endif %}

        {% if user.is_authenticated %}
     <a class="save btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>


<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span> Delete</a>
        {% endif %}
{% endif %}
    </div>
{% endblock %}
