{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    {% for post in posts %}
        <div class="post">

            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <div class="date">created: {{ post.created_date|date:'d-m-Y' }} <br><br></div>

            <img src="{% static 'img/line.png' %}" style="overflow:hidden" >
            <br><br>
        </div>

    {% endfor %}
{% endblock %}
